<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/f37388a7-4b8a-4752-a24e-6c19d9535a1e/resourceGroups/BarcodeGenTool/providers/Microsoft.Web/sites/BarcodeGenTool</ResourceId>
    <ResourceGroup>BarcodeGenTool</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>https://barcodegentool.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>barcodegentool.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>BarcodeGenTool</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$BarcodeGenTool</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>